.createForm {
    position: absolute;
    z-index: 10;
    top: 25vw;
    left: 25vw;
    /* margin: 0 auto; */
    /* text-align: center;
    align-self: center;
    align-items: center; */
    background-color: rgba(70, 70, 70, 0.94);
    width: 500px;
    /* min-height: 35vh; */
    border: 1px dashed rgb(0, 174, 255);
    border-radius: 5px;

}

.handle {
    background-color: rgb(11, 106, 184);
    /* width: 500px; */
    min-width: 100%;
    height: 25px;
    border-radius: 5px;
}

.exitButton {
    position: absolute;
    right: 2px;
    top: 2px;
    /* background-color: rgb(14, 71, 71); */
}

.creationForm {
    top: 25%;
    position: relative;
    background: black;
    width: 70%;
    left: 15%;
    align-content: center;
    min-height: 50%;
    margin-bottom: 50px;
    margin-top: 50px;
}

.creationForm input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .5rem;
}

.creationForm select {
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.fileTab {
    background-color: rgb(53, 53, 53);
    display: inline;
    border: 1px solid rgb(0, 191, 255);
    padding: .3rem;
    margin: 2px;
    top: 10px;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
}

.fileTab:hover {
    background-color: rgb(4, 4, 4);

}