#roomControl {
    /* align-items: center; */
    /* top: 80px;
    margin-left: auto;
    margin-right: auto; */
    width: 100vw;
    display: grid;

    /* gap: 2px; */
    /* position: relative */
    min-height: 90vh;
}

@media screen and (max-width: 800px) {
    .room-control {
        grid-template-columns: none;
        min-height: 100vh;
        /* min-height: 100vh; */
        /* One column for smaller screens */
    }

    .left-column {
        min-height: 50vh;
        max-height: 50vh;
    }

    .right-column {
        min-height: 50vh;
        max-height: 50vh;
    }
}

@media screen and (min-width: 801px) {
    #roomControl {
        grid-template-columns: repeat(auto-fit, minmax(50vw, 1fr));
    }
}

.left-column {
    background-color: #363636;
    /* padding: 20px; */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.right-column {
    overflow-y: auto;

}